<section id="connect" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get Connected!</h2>
                <hr class="primary">
                <p>Were making it easy to surround yourself with interesting thoughts, conversations, and people. If you’re interested in connecting and gaining some wisdom from an Influencer in your community, sign up today!</p>
            </div>
        {% include form.html %}
    </div>
</section>
