<section id="connect" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get Connected!</h2>
                <hr class="primary">
                <p>We're making it easy to surround yourself with interesting thoughts, conversations, and people. Connect and learn something new from an Influencer in your community, by signing up!</p>
            </div>
        </div>
        {% include form.html %}
    </div>
</section>
