<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Join the Tandem Revolution</h1>
            <h3>Build meaningful connections in your community</h3>
            <hr>
            <p>Having influential people in your life is important and Influencers in your community want to share their time with people like you. We connect you with a community “influencers” so that you can have a quality conversation about the things that matter to you most.</p>
            {% include form.html %}
            <a href="#why" class="btn btn-default btn-xl page-scroll">Or Find Out More</a>
        </div>
    </div>
</header>
