<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Engage in Amazing Conversations.</h1>
            <h3>Build meaningful connections in your community</h3>
            <hr>
            <p>Having influential people in your life is important. We will help you get connected with our community of influencers so that you can have quality conversations about the things that matter the most to you.</p>
            <a href="#connect" class="btn btn-default btn-xl page-scroll">Get started!</a>

        </div>
    </div>
    <a href="#why" class="subtle-link page-scroll">Find out more <i class="fa fa-chevron-down"></i></a>
</header>
