<section class="bg-primary" id="why">
    <div class="container">
        <div class="row">
            <div id="graph" class="col-lg-6">
            </div>
            <div class="col-lg-6 text-center">
                <h2 class="section-heading">Not convinced yet?</h2>
                <hr class="light">
                <p class="text-faded text-left">
                    Making decisions is tough and hearing the perspectives of others can help you with the process.
                    <br><br>
                    Whether it be that you need advice on a life changing event, or simply want to learn more about a subject that has meaning for you, it is nice to be able to chat with someone else about it. People that have experienced similar circumstances can provide invaluable advice — but are often hard to come by. At Tandem, we aim to help optimize your ability to meet influencers in your community.
                    <br><br>
                    We believe that it is important to create an influencer network that is built on meaningful in person interactions. In discovering this revelation we set out to create a better way to connect people. Go forth, be Tandem.
                </p>
                <a href="#connect" class="btn btn-default btn-xl page-scroll">Join the conversation</a>
            </div>
        </div>
    </div>
</section>
