<section class="bg-primary" id="why">
    <div class="container">
        <div class="row">
            <div id="graph" class="col-lg-6">
            </div>
            <div class="col-lg-6 text-center">
                <h2 class="section-heading">Why create an influencer network?</h2>
                <hr class="light">
                <p class="text-faded text-left">
                    Finding the right path in life is never straightforward. Making the best decisions is tough — but hearing the perspectives of others can make this process easier.
                    <br><br>
                    It's nice to be able to chat with an expert: whether you need advice on a life changing event, or simply want to learn more about a subject that's meaningful to you.
                    <br><br>
                    People that have been through similar experiences can provide invaluable advice — but they're often hard to come by. We believe it's important to create a network of meaningful in person relationships. Build connections. Be Tandem.
                </p>
                <a href="#connect" class="btn btn-default btn-xl page-scroll">Join the conversation</a>
            </div>
        </div>
    </div>
</section>
