<section class="bg-primary" id="why">
    <div class="container">
        <div class="row">
            <div id="graph" class="col-lg-6">
            </div>
            <div class="col-lg-6 text-center">
                <h2 class="section-heading">Why create an influencer network?</h2>
                <hr class="light">
                <p class="text-faded text-left">
                    Finding the right path in life is never straightforward and nearly everyone tells you that having influential figures in your life is important.  Making the best decision is tough and hearing the perspectives of others can help you with the process.
                    <br><br>
                    Whether it be that you need advice on a life changing event, or simply want to learn more about a subject that has meaning for you, it is nice to be able to chat with someone else about it. People that have been through similar circumstances can provide invaluable advice — but are often hard to come by.
                    <br><br>
                    This is why we believe that it is important to create an influencer network that is built on meaningful relationships from in person interactions. In discovering this revelation, Tandem Tea Time was born.
                </p>
                <a href="#connect" class="btn btn-default btn-xl page-scroll">Join the conversation</a>
            </div>
        </div>
    </div>
</section>
